/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&led_strip { chain-length = <27>; };

/ {
    chosen { zmk,underglow = &led_strip; };

    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&kp ESCAPE  &kp Q  &kp W        &kp E           &kp R       &kp T           &kp Y         &kp U       &kp I            &kp O        &kp P      &kp BACKSPACE
&kp MINUS   &kp A  &hm LCTRL S  &hm LEFT_GUI D  &hm LALT F  &hm LSHIFT G    &hm RSHIFT H  &hm RALT J  &hm RIGHT_GUI K  &hm RCTRL L  &kp SQT    &kp DELETE
&kp EQUAL   &kp Z  &kp X        &kp C           &kp V       &kp B           &kp N         &kp M       &kp COMMA        &kp PERIOD   &kp SLASH  &trans
                                &trans          &kp SPACE   &mo 1           &mo 2         &kp RETURN  &kp TAB
            >;
        };

        numbers {
            bindings = <
&kp F1  &kp F2        &kp F3              &kp F4                 &kp F5             &kp F6                 &kp F7               &kp F8             &kp F9                  &kp F10             &kp F11       &kp F12
&trans  &kp NUMBER_1  &hm LCTRL NUMBER_2  &hm LEFT_GUI NUMBER_3  &hm LALT NUMBER_4  &hm LSHIFT NUMBER_5    &hm RSHIFT NUMBER_6  &hm RALT NUMBER_7  &hm RIGHT_GUI NUMBER_8  &hm RCTRL NUMBER_9  &kp NUMBER_0  &trans
&trans  &trans        &trans              &trans                 &trans             &trans                 &trans               &trans             &trans                  &trans              &trans        &trans
                                          &trans                 &trans             &trans                 &trans               &trans             &trans
            >;
        };

        layer_2 {
            bindings = <
&kp F1  &kp F2  &kp F3  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
